<!DOCTYPE html>
<html ng-app>
<head>
  <title>Angular Demo</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>

  <form>
    Name: <input ng-model="name" placeholder="Name"></input> <br />
    Place: <input ng-model="place" placeholder="Place"></input> <br />
    Name: <input ng-model="name" placeholder="Same Name"></input> <br />
    Place1: <input ng-model="Place" placeholder="Place"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
  </form>

  <h3>When {{ name }} went for a adventure in {{ place }}</h3>
  <p>{{ name }} was a very adventuress guy he loved going to differnet places like {{ place }},  </p>

</body>
</html>