<!DOCTYPE html>
<html ng-app>
<head>
  <title>Angular Demo</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>

  <form>
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
    -=-: <input ng-model="-=-" placeholder="-=-"></input> <br />
  </form>

  <p>A vacation is when you take a trip to some {{ -=- }} place
with your {{ -=- }} family. Usually you go to some place
that is near a/an {{ -=- }} or up on a/an {{ -=- }}.
A good vacation place is one where you can ride {{ -=- }} 
or play {{ -=- }}  or go hunting for {{ -=- }}  . I like
to spend my time {{ -=- }} or {{ -=- }}.
When parents go on a vacation, they spend their time eating
three {{ -=- }} a day, and fathers play golf, and mothers
sit around {{ -=- }}. Last summer, my little brother
fell in a/an {{ -=- }}  and got poison {{ -=- }}  all
over his {{ -=- }}. My family is going to go to (the)
{{ -=- }} , and I will practice {{ -=- }}. Parents
need vacations more than kids because parents are always very
{{ -=- }} and because they have to work {{ -=- }} 
hours every day all year making enough {{ -=- }}  to pay
for the vacation.</p>

</body>
</html>